{% extends "../base.html" %}
{% block title %}SignUp{% endblock %}

<!-- override the navbar -->
{% block navbar %}
{% endblock %}

{% block content %}
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="text-center mb-4">Create Your Account</h2>
                <form action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="row g-3">
                        <!-- User Details Column -->
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" maxlength="15" pattern="\d{10,15}" required
                                oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                <label for="phone">Phone</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" required>
                                <label for="confirmpassword">Confirm Password</label>
                            </div>
                        </div>

                        <!-- Address Section -->
                        <div class="col-12 mt-4">
                            <h4 class="text-center mb-3">Address Details</h4>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="street_address" id="street_address" placeholder="Street Address" required>
                                <label for="street_address">Street Address</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="apartment_number" id="apartment_number" placeholder="Apartment Number (optional)">
                                <label for="apartment_number">Apartment Number (Optional)</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="city" id="city" placeholder="City" required>
                                <label for="city">City</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="state" id="state" placeholder="State" required>
                                <label for="state">State</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="country" id="country" placeholder="Country" required>
                                <label for="country">Country</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="pincode" id="pincode" placeholder="Pincode" maxlength="10" required
                                oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                <label for="pincode">Pincode</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="is_default" id="is_default">
                                <label class="form-check-label" for="is_default">Set as default address</label>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="col-12">
                            <div class="d-grid">
                                <button class="btn btn-dark btn-lg" type="submit">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- override the footer -->
{% block footer %}{% endblock %}
