{% extends "../base.html" %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/product_grid.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ category.name }}</h1>
    <div class="row product">
        {% for product in products %}
        <div class="col-6 col-md-4"> <!-- Change here for responsive design -->
            <div class="card box box6">
                <a href="{% url 'product_detail' product.slug %}" style="text-decoration: none; color: inherit;">
                    <div class="ccc">
                        <p class="text-center">
                            <img src="{{ product.image.url }}" class="imw" alt="{{ product.name }}">
                        </p>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center">{{ product.name }}</h5>
                        <p class="text-center">Price: ${{ product.price }}</p>
                        <p class="text-center card-text">{{ product.description|truncatewords:20 }}</p>
                        <p class="text-center">
                            <a href="#" class="btn btn-outline-primary btn-sm w-100 cc1">
                                <i class="bi bi-cart-plus"></i>
                                <span class="btn-text"> Add to Cart</span>
                            </a>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">No products available in this category.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
