{% extends "../base.html" %}
{% block title %}Wishlist{% endblock %}
{% load static %}
{% block content %}

<!-- Wishlist Page -->
<section class="wishlist section--lg container">
    <div class="table__container">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock Status</th>
            <th>Action</th>
            <th>Rename</th>
          </tr>
        </thead>
        <tbody>
            {% for item in wishlist_items %}
          <tr>
            <td>
              <img
                src="{{ item.product.image.url }}" 
                alt="{{ item.product.name }}"
                alt=""
                class="table__img"
              />
            </td>
            <td>
              <h3 class="table__title">
                {{ item.product.name }}
              </h3>
              <p class="table__description">
                {{ item.product.description|slice:":80" }}
              </p>
            </td>
            <td>
              <span class="table__price">${{ item.product.price }}</span>
            </td>
            <td><span class="table__stock">In Stock</span></td>
            <td><a href="#" class="btn btn--sm">Add to Cart</a></td>
            <td><i class="fi fi-rs-trash table__trash"></i></td>
          </tr>
          {% empty %}
            <div class="col-12">
                <p class="text-center">Your wishlist is empty.</p>
            </div>
        {% endfor %}

         
        </tbody>
      </table>
    </div>
  </section>

{% endblock %}
